[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
django = "*"
django-rest-framework = "*"
django-rest-auth = "*"
django-allauth = "*"
allauth = "*"
psycopg2 = "*"

[requires]
python_version = "3.7"
